@import "tailwindcss";

@layer components {
  .auth-form-inputs {
    @apply mt-2 p-2 space-y-2;
  }

  .auth-container {
    @apply text-center p-4 border rounded-lg space-y-2 w-96 bg-white;
  }

  .App {
    @apply md:pb-12 md:px-6 md:pt-6;
  }

  .tooltip_container {
    @apply relative;
  }

  .profile {
    @apply h-8 w-8 md:h-10 md:w-10 bg-(--lavender) text-center text-[14px] md:text-[16px] p-2 rounded-full cursor-pointer mr-3 flex justify-center font-semibold;
  }

  .dots {
    @apply bg-(--header--menu-button-background) p-2 rounded-full cursor-pointer mr-6 text-[14px] md:text-[16px];
  }

  .toggle_container {
    @apply absolute right-0 pr-[5px] pl-2 cursor-pointer md:opacity-0 group-hover:opacity-100 transition;
  }
}

:root {
  --lavender: #dde1fb;
  --cornflower: #5167f4;
  --lilac: #d85dfd;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --header--menu-button-background: #BE9CF3;
}

.tooltip_title {
  visibility: hidden;
  background-color: #222c;
  margin-top: 8px;
  padding: 0 8px;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  letter-spacing: normal;

  position: absolute;
  border-radius: 3px;
  z-index: 1;
  top: 100%;
  /* left: 50%; */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip_container:hover .tooltip_title {
  visibility: visible;
  opacity: 1;
}