@import "tailwindcss";

@layer components {
  .auth-form-inputs {
    @apply mt-2 p-2 space-y-2;
  }

  .auth-container {
    @apply text-center p-4 border rounded-lg space-y-2 w-96 bg-white;
  }

  .App {
    @apply md:pb-12 md:px-6 md:pt-6;
  }

  .tooltip_container {
    @apply relative cursor-pointer;
  }

  .profile {
    @apply h-8 w-8 md:h-10 md:w-10 bg-(--lavender) text-center text-[14px] md:text-[16px] p-2 rounded-full cursor-pointer mr-3 flex justify-center font-semibold;
  }

  .dots {
    @apply bg-(--header--menu-button-background) p-2 rounded-full cursor-pointer mr-6 text-[14px] md:text-[16px];
  }

  .toggle_container {
    @apply absolute right-0 pr-[5px] pl-2 cursor-pointer md:opacity-0 group-hover:opacity-100 transition;
  }

  .profile_menu {
    @apply fixed z-1000 rounded-sm border w-60 bg-white;
  }

  .profile_menu_header {
    @apply py-6 flex flex-col items-center;
  }

  .profile_menu_avatar {
    @apply w-[42px] h-[42px] border rounded-[21px] flex justify-center items-center;
  }

  .profile_menu_heading {
    @apply mt-3;
  }

  .profile_menu_footer {
    @apply border-t border-(--profile-menu-list-separator) px-4 py-3;
  }

  .profile_menu_footer_link {
    @apply flex items-center font-normal text-[12px] cursor-pointer;
  }

  .dialog {
    @apply rounded-3xl max-w-lg mx-auto my-16;
  }

  .dialog.withPaddings {
    @apply p-6;
  }

  .dialog.sizeMedium {
    @apply max-w-lg;
  }

  .dialog_overlay {
    @apply fixed z-1000 px-3 bg-[#0006] transition-opacity transform duration-350;
  }

  .task_menu {
    @apply transition-opacity transform duration-350 bg-[rgb(221,225,251)];
  }
}

:root {
  --lavender: #dde1fb;
  --cornflower: #5167f4;
  --lilac: #d85dfd;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  --header--menu-button-background: #BE9CF3;
  --profile-menu-list-separator: #0000001A;
}

.tooltip_title {
  visibility: hidden;
  background-color: #222c;
  margin-top: 8px;
  padding: 0 8px;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  letter-spacing: normal;

  position: absolute;
  border-radius: 3px;
  z-index: 1;
  top: 100%;
  /* left: 50%; */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip_container:hover .tooltip_title {
  visibility: visible;
  opacity: 1;
}