@import "tailwindcss";

@layer components {
  .auth-form-inputs {
    @apply mt-2 p-2 space-y-2;
  }

  .auth-container {
    @apply text-center p-4 border rounded-lg space-y-2 w-96 bg-white;
  }
}

:root {
  --lavender: #dde1fb;
  --cornflower: #5167f4;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tooltip_title {
  visibility: hidden;
  background-color: #222c;
  margin-top: 8px;
  padding: 0 8px;
  color: #fff;
  font-size: 12px;
  white-space: nowrap;
  letter-spacing: normal;

  position: absolute;
  border-radius: 3px;
  z-index: 1;
  top: 100%;
  /* left: 50%; */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip_container:hover .tooltip_title {
  visibility: visible;
  opacity: 1;
}