@import "tailwindcss";

@layer components {
  .auth-form-inputs {
    @apply mt-2 p-2 space-y-2;
  }

  .auth-container {
    @apply text-center p-4 border rounded-lg space-y-2 w-96 bg-white;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

